body {
        background-color: grey;
        padding: 10px;
     }
    


h1 {
    color: #48324d;
    font-weight:bolder;
    font-size: 50px;}


h3 {
    color: #48324d;
    font-weight:bolder;
    font-size: 30px;
    text-align: center;}


    .logo {
        padding: 5px;
        border: dashed 4px;
        border-color: black;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: flex-end;
        display: grid;
        grid-template-columns: auto auto auto auto; }



       
